<div class="jumbotron bg-white text-center">
  <h1 class="display-4">Covid-19 Cases Tracker By Country</h1>
  <hr>
  <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores quos delectus qui at laborum dignissimos optio cumque amet voluptas magni culpa, animi, dolorem sequi sed consectetur nulla distinctio facere officiis.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat nostrum repellat optio laborum id et. Dicta, molestiae, voluptatibus et nobis facere provident quod inventore ad numquam unde hic vel earum?</p>
</div>

